extends layout

block content
  h1= title
  p woeij
    a(href="#greeting") 打招呼
  p we
  p wef
  p wefw
  p wef
  p wef
  p we
  p wef
  p wefw
  p wef
  p wef
  p we
  p wef
  p wefw
  p wef
  p wef
  p we
  p wef
  p wefw
  p wef
  p wef
  p we
  p wef
  p wefw
  p wef
  p wef
  p we
  p wef
  p wefw
  p wef
  p wef
  p#greeting Welcome to #{title}
